@font-face {
    src: url('./fonts/KaushanScript-Regular.ttf');
    font-family: KaushanScript;
}

.loginJumbo {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    align-items: center;
    background-color: rgba(var(--d87,255,255,255),1);
}

.emailDiv {
    padding: 6%;
    padding-top: unset;
    padding-bottom: unset;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.passwordDiv {
    padding: 6%;
    padding-top: unset;
    padding-bottom: unset;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.buttonDiv {
    padding: 6%;
    padding-top: 2%;
}

.submitButton {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}