@font-face {
    src: url('./fonts/KaushanScript-Regular.ttf');
    font-family: KaushanScript;
}

.nav {
    background-color: unset;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.FakerGramHeaderNav {
    font-family: KaushanScript;
    /* text-align: center;
    margin: 22px auto 12px; */
  }